@import 'fonts.css';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.limiter {
  max-width: $limiter_max_width;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 768px) {
  .limiter {
    padding-right: 32px;
    padding-left: 32px;
  }
}

@media (max-width: 480px) {
  .limiter {
    padding-right: 16px;
    padding-left: 16px;
  }
}


.q-btn {
  border-radius: 10px;
}

.q-card {
  box-shadow: none;
  border: solid 1px $border_color;
}

p {
  margin: 0;
}

@media (min-width: 1920px) {
  h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 5rem;
  }
  h3 {
    font-size: 4rem;
  }
  h4 {
    font-size: 3rem;
  }
}

.q-separator {
  background: $border_color !important;
}

.q-btn {
  box-shadow: none !important;
  border: solid 1px $border_color;
}

.q-btn--actionable.q-btn--standard:before {
  box-shadow: none !important;
}

.q-field--outlined .q-field__control {
  border-radius: 5px;

  &:hover {
    &:before {
      border-color: #939393;
    }
  }

  &:after {
    height: 100%;
    color: $border_color;
    border-width: 1px !important;
  }
}

.liked {
  color: $highlight;
}

a {
  color: black;
}

.text-input__chars-counter {
  font-size: 15px !important;
}

.card {
  border-radius: 30px;
}

@media(max-width: 1024px) {
  .card {
    max-width: none !important;
  }
}


.q-dialog-plugin {
  .q-btn {
    border: none;

    span {
      color: black;
      transition: color .2s;

      &:hover {
        color: $highlight;
      }
    }

    .q-focus-helper {
      display: none;
    }

  }
}

.q-field__bottom{
  align-items: center !important;
}

.q-skeleton {
  cursor: auto;
}

.pr-8 {
  padding-right: 8px;
}

.pl-8 {
  padding-left: 8px;
}
.fit-width{
  width: 100%;
}

::-webkit-scrollbar { /* chrome based */
  height: 100vh;
}
