@import 'fonts.css';

* {
  margin: 0;
  padding: 0;
  //font-family: 'Montserrat', sans-serif;
  //font-family: 'Montserrat', sans-serif;
  //font-family: 'Montserrat', sans-serif;
  //font-weight: 400;
}
//h1{
//  font-weight: 600;
//}
//h2{
//  font-weight: 500;
//}
//h3{
//  font-weight: 500;
//}
//h4{
//  font-weight: 500;
//}
//h5{
//  font-weight: 400;
//}

a {
  text-decoration: none;
}

.layout {
  max-width: $layout_max_width;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
body{
  perspective: 1000px;
}
