$primary: #437BD4;
$additional: #00B0AD;
$highlight: #00B0AD;


//$primary   : #34D0B6;
$secondary: #FA3E54;
$accent: #FFBA40;
//$additional: #437BD4;

$dark: #1D1D1D;

$positive: #21BA45;
$negative: #C10015;
$info: #31CCEC;
$warning: #F2C037;


$oB: #0b132b;
$sC: #1C2541;
$ind: #3A506B;
$mBG: #6FFFE9;
$mBP: #9DACFF;
$gray: #F0F0F0;


$limiter_max_width: 1280px;
$header-height: max(40px, 4.5vw);


$columnSize: 7.56%;
$spaceSize: 0.82644%;


//.text-additional {
//  color: #00B0AD !important;
//}
//
//.bg-additional {
//  background: #00B0AD !important;
//}

.text-highlight {
  color: #00B0AD !important;
}

.bg-highlight {
  background: #00B0AD !important;
}
