$primary: #437BD4;
$additional: #437BD4;


//$primary   : #34D0B6;
$secondary: #FA3E54;
$accent: #FFBA40;
//$additional: #437BD4;

$dark: #1D1D1D;

$positive: #21BA45;
$negative: #C10015;
$info: #31CCEC;
$warning: #F2C037;


$oB: #0b132b;
$sC: #1C2541;
$ind: #3A506B;
$mBG: #6FFFE9;
$mBP: #9DACFF;
$gray: #F0F0F0;


$limiter_max_width: 1210px;
$header-height: max(40px, 4.5vw);



//$device:0;
////@debug $device;
//@media (min-width: 991px) {
//  $device: 1;
//}
//
//@media (max-width: 991px) {
//  $device: 'tablet';
//}
//
//@media (max-width: 479px) {
//  $device: 'mobile';
//}
