$primary   :#437BD4;
$additional:#437BD4;




//$primary   : #34D0B6;
$secondary : #FA3E54;
$accent    : #FFBA40;
//$additional: #437BD4;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;


$oB: #0B132B;
$sC: #1C2541;
$ind: #3A506B;


$layout_max_width: 1024px;
$header-height: 4.5vw;

